
<ion-content [fullscreen]="true">
  <div id="HomeWidgetsContainer">   
    <ion-card id="Avatarsvg">
      <ion-card-header>
        <ion-card-title>Welcome back NS! </ion-card-title>
        <ion-card-subtitle>You are the absolute best</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    
    <ion-card id="sales">
  
        <ion-card-title>Purchase Entry</ion-card-title>
    <ion-card-subtitle>Add a new Purchase</ion-card-subtitle>
  
      <div [routerLink]="['/purchaseentry']" class="svgAdd"></div>
    </ion-card>
    
    <ion-card id="purchase">
        <ion-card-title>Sale Entry</ion-card-title>
    <ion-card-subtitle>Add a new Sale</ion-card-subtitle>
      <div  class="svgAdd"></div>
    </ion-card>
    
    <ion-card id="navbar">    
      <div class="icons icons1"></div>
      <div class="icons icons2"></div>
      <div class="icons icons3"></div>
      <div class="icons icons4 "></div>
    </ion-card>

    <ion-card id="profitEntries">
      <ion-card-header>
        <ion-card-title>Entries</ion-card-title>
      </ion-card-header>
      <ion-grid [fixed]="true">
        <ion-row *ngFor="let x of data">
          <ion-col >{{x.a}}</ion-col>
          <ion-col>{{x.b}}</ion-col>
          <ion-col>{{x.c}}</ion-col>
          <ion-col>{{x.d}}</ion-col>
          <ion-col>{{x.e}}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
    <div id="profit">
      <ion-card-header>
        <ion-card-title>Profit</ion-card-title>
      </ion-card-header>
    </div>
  </div>
</ion-content>