
#HomeWidgetsContainer{
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns:10% 18% 36% 36%;
  grid-template-rows:40% 30% 30%;
  background-color: #16002A;
}

#Avatarsvg
{
  width:60%;
  height:80%;
  background: url("../../assets/homeAssets/Group\ 53.svg");
  background-size:100% 100% ;
  margin:2% auto 0 auto;
  grid-column: 2 / 5;
  grid-row: 1/2;
  border:3.5px solid  #2E266A;
  border-radius: 2vw;
  padding-left: 2%;
}
#Avatarsvg ion-card-title{
  color:white;
  font-size:2em;
}
#Avatarsvg ion-card-subtitle{
  color:#9A9AE8;
  font-size:1.5em;
}
#navbar{
  background-color: #16002A;
  grid-column: 1 / 2;
  grid-row: 1/4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:flex-start;
}

 .icons1{
  background-image: url("../../assets/homeAssets/4.svg");
 }
 .icons2{
   background-image: url("../../assets/homeAssets/2.svg");
  }
  .icons3{
   background-image: url("../../assets/homeAssets/3.svg");
  }
  .icons4{
   background-image: url("../../assets/homeAssets/1.svg");
  }
  .icons{
    background-size: 100%;
    width: 75%;
    height: 10%;
    background-size: contain;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 60% 100%;
    margin-bottom: 20%;
   }
#sales,#purchase{
  grid-column: 2 / 3;
  grid-row: 2/3;
  margin: auto; 
  width:78%;
  height: 90%;
  border:3.5px solid  #2E266A;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #16002A;
  text-align: center;
  padding:1%;
}
#purchase{
  grid-column: 2 / 3;
  grid-row: 3/4;
  margin-top: -0.5%;
}
#sales ion-card-title,#purchase ion-card-title{
   color: #9A9AE8;
   width: 100%;
   margin: auto;
   text-align: center;
   font-size: x-large;
}
#sales ion-card-subtitle,#purchase ion-card-subtitle{
  width: 100%;
  margin: auto;
  text-align: center;
  color: white;
  font-size:20q;

}

#profitEntries{
  grid-column: 3 / 5;
  grid-row: 2/4;
  border:3.5px solid  #2E266A;
  border-radius: 3vw;
  background-color: #16002A;
  width: 95%;
  height: 95%;
  padding-left: 2%;
}
#profitEntries ion-card-title{
  width: 50%;
  text-align: center;
  color: white;
}
#profit{
  margin-top:2%;
  grid-column: 4 / 5;
  grid-row: 2/4;
  width: 100%;
  height: 85%;
  border-left: 0;
  background-image: url("../../assets/homeAssets/profit.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% 80%;
  text-align: center;
  z-index: 2;
  

}
#profit ion-card-title, #profitEntries ion-card-title{
    font-size:1.5em;
    color:white;
}

.svgAdd{
  background-image: url("../../assets/homeAssets/Group\ 179.svg");
  width: 15%;
  height: 15%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: auto;
}

ion-col {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: solid 2.5px #2E266A;
  color: #fff;
}

ion-grid{
  width: 50%;
  height: 80%;
  overflow-y: hidden;
  margin: 0;
}
